@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
@font-face {
  font-family: 'Monument Extended';
  src: url('../asset/Monument Extended/MonumentExtended-Black.otf');
  font-style: normal;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #0f0f0f;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Inter, sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}
